<div id="<%= dom_id flight %>">
  <p>
    <strong>Name:</strong>
    <%= flight.name %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= flight.picture %>
  </p>

  <p>
    <strong>Reserved:</strong>
    <%= flight.reserved %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flight.user_id %>
  </p>

  <p>
    <strong>Base price:</strong>
    <%= flight.base_price %>
  </p>

  <p>
    <strong>Available slots:</strong>
    <%= flight.available_slots %>
  </p>

</div>
