<p style="color: green"><%= notice %></p>

<%= render @reserved_flight %>

<div>
  <%= link_to "Edit this reserved flight", edit_reserved_flight_path(@reserved_flight) %> |
  <%= link_to "Back to reserved flights", reserved_flights_path %>

  <%= button_to "Destroy this reserved flight", @reserved_flight, method: :delete %>
</div>
